.Nav-bar {
    background-color: white;
    border-bottom: 10px solid grey;
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: left;
    padding-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    height: 100px;
}

.logo {
    height: 75px;
    width: 300px;
    display: inline-block;
}

.navbar-links {
    padding: 0;
    margin: 0;
}

.navbar-links-item {
    margin: 0;
    display: inline-block;
    padding: 7px;
    text-align: center;
    vertical-align: top;
}

nav {
    width: 100%;
}

  li {
      float: left;
      color: white;
  }